/* LoginForm.css */

.login-form-container {
    position: relative; 
    background-image: url('c:\Users\nithin.goud\Downloads\photo-1517504734587-2890819debab.jpeg'); 
    background-size: cover; 
    background-repeat: no-repeat; /
    background-position: center; /* Center the image */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin: 20px auto;
  }
  
  
  .login-form-title {
    margin-bottom: 20px;
    color: #333;
  }
  
  .login-form-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-form-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-form-button:hover {
    background-color: #0056b3;
  }
  
