.register-form-container {
  position: relative; /* Set position to relative for absolute positioning */
  background-image: url('c:\Users\nithin.goud\Downloads\photo-1517504734587-2890819debab.jpeg'); /* Set the path to your image */
  background-size: cover; /* Cover the entire container with the image */
  background-repeat: no-repeat; /* Prevent image from repeating */
  background-position: center; /* Center the image */
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
  margin: 20px auto;
}


.register-form-title {
  margin-bottom: 20px;
  color: #333;
}

.register-form-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.register-form-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.register-form-button:hover {
  background-color: #0056b3;
}

.password-strength-message {
  color: #333;
  margin-top: 10px;
}

.registration-message {
  color: red;
  margin-top: 10px;
}
